.vs/
.vscode/
.kdev4/

*.slo
*.lo
*.o
*.obj

*.gch
*.pch

*.so
*.dylib
*.dll

*.mod

*.lai
*.la
*.a
*.lib

*.exe
*.out
*.app
*.ipa

*.xcodeproj
*.xcworkspace
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
*.pri
*.pro
*.workspace
*.code-workspace
*.kdev4
Makefile
CMakeLists.txt
SimulaTOR/SimulaTORCode*.txt

Binaries/*
Intermediate/*

*_BuiltData.uasset

# External test intermediate data
ExternalTest/RRSIM_TESTS
ExternalTest/rr_sim_tests/rr_sim_tests/__pycache__
ExternalTest/rr_sim_tests/rr_sim_tests/utils/__pycache__
